---
import { Image } from 'astro:assets';
import leak from 'src/components/sections/services/icons/GOTERA.svg';
import roof_replace from 'src/components/sections/services/icons/cambio_techo.svg';
---

<section
    class='mx-auto w-full gap-4 bg-neutral-200 px-4 pt-20 sm:px-6 md:items-center md:py-14 lg:px-8 2xl:max-w-full'
    id='services'
>
    <div class='flex flex-col items-center space-y-10 md:space-y-20'>
        <h1 class='text-3xl font-semibold text-neutral-700 md:text-5xl'>
            Roofing Services
        </h1>
        <div
            class='flex grid-cols-3 flex-col gap-10 text-center font-semibold text-neutral-700 md:grid md:gap-24 md:text-xl'
        >
            <!-- Row 1 -->
            <div class='space-y-4 md:space-y-8'>
                <Image
                    src={roof_replace}
                    alt='Storm Damage Icon'
                    class='mx-auto h-32 w-32'
                />
                <p>Storm Damage</p>
            </div>
            <div class='space-y-4 md:space-y-8'>
                <Image
                    src={leak}
                    alt='Leaky Roof Repair Icon'
                    class='mx-auto h-32 w-32'
                />
                <p>Leaky Roof Repair</p>
            </div>
            <div class='space-y-4 md:space-y-8'>
                <Image
                    src={roof_replace}
                    alt='Roof Replacement Icon'
                    class='mx-auto h-32 w-32'
                />
                <p>Roof Replacement</p>
            </div>
            <!-- Row 2 -->
            <div class='space-y-4 md:space-y-8'>
                <Image
                    src={roof_replace}
                    alt='Gutters & Gutter Screens Icon'
                    class='mx-auto h-32 w-32'
                />
                <p>Gutters & Gutter Screens</p>
            </div>
            <div class='space-y-4 md:space-y-8'>
                <Image
                    src={roof_replace}
                    alt='Siding Icon'
                    class='mx-auto h-32 w-32'
                />
                <p>Siding</p>
            </div>
            <div class='space-y-4 md:space-y-8'></div>
        </div>
    </div>
</section>
