---
import { Image } from 'astro:assets';
import techo1 from 'public/techo_6954.jpeg';
import techo2 from 'public/techo_6956.jpeg';
import techo3 from 'public/techo_6955.jpeg';
import techo4 from 'public/techo_7082.jpeg';
import techo5 from 'public/techo_7110.jpeg';
import techo6 from 'public/techo_7220.jpeg';
import techo7 from 'public/techo_7207.jpeg';
import techo8 from 'public/techo_7236.jpeg';
import techo9 from 'public/techo_7388.jpeg';
import techo10 from 'public/techo_7514.jpeg';
---

<div
    id='image'
    data-carousel='{"loadingClasses": "opacity-0", "isInfiniteLoop": true, "dotsItemClasses": "carousel-dot" }'
    class='relative w-3/4'
>
    <div class='carousel'>
        <div class='carousel-body h-[600px] opacity-0'>
            <!-- Slide 1 -->
            <div class='carousel-slide'>
                <div class='flex h-full justify-center'>
                    <Image
                        src={techo1}
                        alt=`Techo-Bloc's previous work`
                        class='h-full w-full object-cover object-center'
                    />
                </div>
            </div>
            <!-- Slide 2 -->
            <div class='carousel-slide'>
                <div class='flex h-full justify-center'>
                    <Image
                        src={techo2}
                        alt=`Techo-Bloc's previous work`
                        class='h-full w-full object-cover object-center'
                    />
                </div>
            </div>
            <!-- Slide 3 -->
            <div class='carousel-slide'>
                <div class='flex h-full justify-center'>
                    <Image
                        src={techo3}
                        alt=`Techo-Bloc's previous work`
                        class='h-full w-full object-cover object-center'
                    />
                </div>
            </div>
            <!-- Slide 4 -->
            <div class='carousel-slide'>
                <div class='flex h-full justify-center'>
                    <Image
                        src={techo4}
                        alt=`Techo-Bloc's previous work`
                        class='h-full w-full object-cover object-center'
                    />
                </div>
            </div>
            <!-- Slide 5 -->
            <div class='carousel-slide'>
                <div class='flex h-full justify-center'>
                    <Image
                        src={techo5}
                        alt=`Techo-Bloc's previous work`
                        class='h-full w-full object-cover object-center'
                    />
                </div>
            </div>
            <!-- Slide 6 -->
            <div class='carousel-slide'>
                <div class='flex h-full justify-center'>
                    <Image
                        src={techo6}
                        alt=`Techo-Bloc's previous work`
                        class='h-full w-full object-cover object-center'
                    />
                </div>
            </div>
            <!-- Slide 7 -->
            <div class='carousel-slide'>
                <div class='flex h-full justify-center'>
                    <Image
                        src={techo7}
                        alt=`Techo-Bloc's previous work`
                        class='h-full w-full object-cover object-center'
                    />
                </div>
            </div>
            <!-- Slide 8 -->
            <div class='carousel-slide'>
                <div class='flex h-full justify-center'>
                    <Image
                        src={techo8}
                        alt=`Techo-Bloc's previous work`
                        class='h-full w-full object-cover object-center'
                    />
                </div>
            </div>
            <!-- Slide 9 -->
            <div class='carousel-slide'>
                <div class='flex h-full justify-center'>
                    <Image
                        src={techo9}
                        alt=`Techo-Bloc's previous work`
                        class='h-full w-full object-cover object-center'
                    />
                </div>
            </div>
            <!-- Slide 10 -->
            <div class='carousel-slide'>
                <div class='flex h-full justify-center'>
                    <Image
                        src={techo10}
                        alt=`Techo-Bloc's previous work`
                        class='h-full w-full object-cover object-center'
                    />
                </div>
            </div>
        </div>
        <div
            class='carousel-info absolute bottom-3 start-[50%] inline-flex -translate-x-[50%] justify-center rounded-lg bg-neutral-200 px-4 text-neutral-700'
        >
            <span class='carousel-info-current me-1'>0</span>
            /
            <span class='carousel-info-total ms-1'>0</span>
        </div>
    </div>
    <!-- Previous Slide -->
    <button
        type='button'
        class='carousel-prev'
    >
        <span
            class='flex size-9.5 items-center justify-center rounded-full bg-neutral-200 text-neutral-700 shadow'
        >
            <span
                class='icon-[tabler--chevron-left] size-5 cursor-pointer rtl:rotate-180'
            ></span>
        </span>
        <span class='sr-only'>Previous</span>
    </button>
    <!-- Next Slide -->
    <button
        type='button'
        class='carousel-next'
    >
        <span class='sr-only'>Next</span>
        <span
            class='flex size-9.5 items-center justify-center rounded-full bg-neutral-200 text-neutral-700 shadow'
        >
            <span
                class='icon-[tabler--chevron-right] size-5 cursor-pointer rtl:rotate-180'
            ></span>
        </span>
    </button>
</div>
